
.comics{
    margin-top: calc(21vh - 3.5vw);
  }
  .wrapper{
    margin: 5vh .5rem .5rem 0px;
    display:grid;
    width: 100%;
    grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
    grid-gap: 10px;
  }
  