<div class="Header" role="banner">
  <a href="">
    <img
      height="59px"
      width="100%"
      min-width="140px"
      alt="Marvel Logo"
      src="../assets/marvel.svg"
    />
  </a>
    <div class="navbar">
      <ul>
        <li>
          <a href="/characters">CHARACTERS</a>
        </li>
        <li>
          <a href="/comics">COMICS</a>
        </li>
        <li>
          <a href="/creators">CREATORS</a>
        </li>
        <li>
          <a href="/series">SERIES</a>
        </li>
      </ul>
    </div>
  </div>
